body{
    background-color: white;
}
.errordiv{
    display: flex;
    justify-content: center;
}
.errormsglogin {
    color: white;
    font-size: 12px;
    text-align: center;
    background-color: #e22134;
    font-weight: 400;
    padding: 10px 14px 16px;
    border-width: 0;
    margin-bottom: 24px;
    height: 18px;
    width: 420px;
}
.loginform {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
}
.loginbutton{
    height: 40px;
    border-radius: 30px;
    background-color: #15883e;
    border: 1px solid #15883e;
    color: white;
    font-weight: 700;
    padding: 12px;
    margin-top: 20px;
    transition-duration: .3s;
    letter-spacing: 2px;
    min-width: 160px;
    cursor: pointer; 
}
.loginbutton:hover{
    background-color: #1db954;
    border: 1px solid #1db954;
    transition-duration: .3s;
}
.loginbutton:focus{
    outline: none;
}
#formheaderlogin {
    text-align: center;
    letter-spacing: -0.04em;
    font-size: 16px;
    font-weight: 700;
}
#signup123{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}
.divdivider2{
    display: flex;
    flex-direction: row;
}
.tati{
    margin-top: 28px;
    width: 420px;
    height: 1px;
    background-color: #d9dadc;
}
.signup123head{
    text-align: center;
    font-size: 18px;
}
.signup123{
    text-align: center;
    text-decoration: none;
    border:2px solid gray;
    font-weight: 700;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    color:gray;
    padding: 15px;
    letter-spacing: 2px;
    transition-duration: .3s;
    cursor: pointer;
}
.signup123:hover{
    transition-duration: .3s;
    background-color: gray;
    color: white;
}
.signup123:focus{
    border:2px solid black;
    background: #8c8c8c;
}