.loginform {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
}
#formheaderlogin {
    text-align: center;
    letter-spacing: -0.04em;
    font-size: 16px;
    font-weight: 700;
}