.loginform {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
}
#formheaderlogin {
    text-align: center;
    letter-spacing: -0.04em;
    font-size: 16px;
    font-weight: 700;
}
#signup123{
    margin: auto;
    display: flex;
    flex-direction: column;
    width: 400px;
}
.signup123head{
    text-align: center;
}
.signup123{
    text-align: center;
    text-decoration: none;
    border:2px solid gray;
    font-style: none;
    font-size: 14px;
    line-height: 1;
    border-radius: 500px;
    color:gray;
    letter-spacing: 2px;
    transition-duration: .3s;
    cursor: pointer;
}
.signup123:hover{
    transition-duration: .3s;
    background-color: gray;
    color: white;
}