.loggedoutmusicbanner{
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    // justify-content: space-between;
    
}
.songinfo{
    display: flex;
    flex-direction: row;
}
.albumartinfo{
    margin-top: 5px;
    margin-left: 5px;
    width: 56px;
}
.musicplayerdiv{
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color: gray;
    margin-left: -8px;
    height: 70px;
    justify-content: space-between;
}
.loop{
    color: #b3b3b3;
    border: none;
}
.loop:focus{
    outline: none;
}
.looped{
    color: rgb(71, 246, 71);
}
.divcontrolsbaby{
    display:flex;
    flex-direction: row;
}
.divaudiobar{
    display:flex;
    flex-direction: row;
}
