.loggedoutmusicbanner{
    bottom: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
}
.songinfo{
    display: flex;
    flex-direction: row;
}
.albumartinfo{
    margin-top: 15px;
    margin-left: 10px;
    width: 56px;
}
.musicplayerdiv{
    bottom: 0;
    right: 0;
    position: fixed;
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    background-color:#181818;
    height: 90px;
    justify-content: space-between;
    border-top: 1px solid #282828;
    
    z-index: 47;
}

.divcontrolsbaby{
    display:flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 15px;
}
.divaudiobar{
    display:flex;
    flex-direction: row;
    margin-top: 10px;
}
.divcontrols{
    margin-top: 0;
    margin-left: -77px;
}
input[type="range"] {
    --thumbSize: 14px;
    --trackSize: 4px;
    --thumbBg: #fff;
    --trackBg: #696969;
    --progressBg: #cfcfcf;
  
    /* webkit progress workaround */
    --webkitProgressPercent: 0%;
    background-color: transparent;
}
input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    height: var(--thumbSize);
    width: 350px;
    margin: 0;
    padding: 0;
    
}

.volume[type="range"]{
    width: 100%;
}
input[type="range"]:focus {
    outline: none;
}

input[type="range"]::-webkit-slider-thumb {
    -webkit-appearance: none;
    opacity: 0;
    appearance: none;
    width: var(--thumbSize);
    height: var(--thumbSize);
    background-color: var(--thumbBg);
    border-radius: calc(var(--thumbSize) / 2);
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
    cursor: pointer;
}
.divaudiobar:hover input[type="range"]::-webkit-slider-thumb{
    opacity: 1;
}
.volumeControlStuff:hover input[type="range"]::-webkit-slider-thumb{
    opacity: 1;
}
input[type="range"]::-moz-range-thumb {
    -moz-appearance: none;
    opacity: 0;
    appearance: none;
    width: var(--thumbSize);
    height: var(--thumbSize);
    background-color: var(--thumbBg);
    border-radius: calc(var(--thumbSize) / 2);
    border: none;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
    margin-top: calc(((var(--thumbSize) - var(--trackSize)) / 2) * -1);
    cursor: pointer;
}
.divaudiobar:hover input[type="range"]::-moz-range-thumb{
    opacity: 1;
}
.volumeControlStuff:hover input[type="range"]::-moz-range-thumb{
    opacity: 1;
}

input[type="range"]::-webkit-slider-runnable-track {
    height: var(--trackSize);
    background-image: linear-gradient(
      90deg,
      var(--progressBg) var(--webkitProgressPercent),
      var(--trackBg) var(--webkitProgressPercent)
    );
    border-radius: calc(var(--trackSize) / 2);
}
input[type="range"]::-moz-range-track {
    height: var(--trackSize);
    background-color: var(--trackBg);
    border-radius: calc(var(--trackSize) / 2);
} 
input[type="range"]::-moz-range-progress {
    height: var(--trackSize);
    background-color: var(--progressBg);
    border-radius: calc(var(--trackSize) / 2) 0 0 calc(var(--trackSize) / 2);
}
.divaudiobar:hover input[type="range"]::-moz-range-progress{
    background-color:rgb(71, 246, 71);
}
.volumeControlStuff:hover input[type="range"]::-moz-range-progress{
    background-color:rgb(71, 246, 71);
}
.songTA{
    justify-content: center;
    position: absolute;
    margin-left: 90px;
    margin-top: 15px;
    display: flex;
    flex-direction: column;
}
.songTitle{
    vertical-align: baseline;
    margin: 0;
    color: white;
    padding: 0;
    font-size: 16px;
}
.songArtist {
    margin: 0;
    font-size: 12px;
    color: #dadada;
    padding: 0;
    vertical-align: baseline;
}
.musicbuttons{
    font-size: 20px;
    background: transparent;
    border: none;
    color: rgb(204, 204, 204);
    margin-left: 10px;

}
.musicbuttons:hover{
    color: white;
}
.musicbuttons:focus{
    outline: none;
}
.looped{
    color: rgb(71, 246, 71);
}
.songtime{
    font-size: 12px;
    color: #dadada;
    margin-inline: 10px;
    margin-top: -5px;
}
.volumeControlStuff{
    display: flex;
    align-items: center;
    right: 20px;
    position: fixed;
    bottom: 34px;
}
.mute{
    background: transparent;
    border: none;
}
.mute:focus{
    outline: none;
}
.play{
    background: transparent;
    border: none;
    transform: scale(1.00);
    .musicbuttons{
        color: black;
        background: white;
        border: 7px solid white;
        border-radius: 30px;
    }
}
.play:hover{
    transform: scale(1.1);
}
.play:focus{
    outline: none;
}