.playlistContainer {
    // margin-left: 300px;
    padding-top: 25px;
    padding-left: 250px;
    padding-bottom: 500px;
    margin-right: -15px;
    background-color: #363636;
}
.plartwork {
    height: 232px;
    width: 232px;
    align-items: center;
    background-color: #282828;
    color: #7f7f7f;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
}
.plformartwork {
    height: 180px;
    width: 180px;
    margin-left: 25px;
    align-items: center;
    background-color: #282828;
    color: #7f7f7f;
    display: flex;
    justify-content: center;
    box-shadow: 0 4px 60px rgba(0,0,0,.5);
}
.playlistartwork {
    height: 81px;
    width: 81px;
}
.plinfobar {
    display:flex;
}
.pldetail1{
    color: white;
    font-size: 12px;
    font-weight: 700;
    margin-left: 25px;
    margin-top: 40px;
}
.pldetailstitle{
    margin-top: 5px;
    margin-left: 25px;
    font-size: 96px;
    line-height: 96px;
    font-weight: 900;
    width: 100%;
    color: white;
    letter-spacing: -0.04em;
    cursor: default;
}


//---------Modal under here------------------

.firstModalDiv {
    padding-left: 25px;
    padding-right: 20px;
    justify-content: space-between;
    display: flex;
}
.secondModalDiv {
    // display: flex;
    // justify-content: space-between;
}
.modalText {
    font-size: 1.5rem;
    line-height: 1.75rem;
    letter-spacing: -0.04em;
    text-transform: none;
}

.playlistModalyay {
    display: none; 
    position: fixed;
    left: 35%;
    top: 25%;
    z-index: 2;
    height: 384px;
    width: 524px;
    background-color: #282828;
    border-radius: 8px;
    flex-direction: column;
    box-shadow: 0 4px 4px rgba(0,0,0,.3);
}
.playlistModalContent {
    // background-color: black;
    z-index: 2;
    color: white;
}
.closeModal {
    height: 32px;
    justify-content: center;
    margin-inline-end: -8px;
    margin-bottom: 20px;
    width: 32px;
    align-items: center;
    align-self: end;
    background-color: transparent;
    border: 0;
    border-radius: 32px;
}
.closeModalButton {
    color: rgba(255,255,255,.7);
    height: 16px;
    width: 16px;
    float: right;
}
.modalBG{
    display: none;
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba($color: #000000, $alpha:0.6);
}
.plinput {
    background: rgba(255,255,255,.1);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    height: 40px;
    padding: 0 12px;
    width: 280px;
}
.plinput:focus{
    outline: none;
}
.input {
    background: rgba(255,255,255,.1);
    border: 1px solid transparent;
    border-radius: 4px;
    color: #fff;
    font-family: inherit;
    font-size: 14px;
    height: 80px;
    padding: 8px 8px 28px;
    resize: none;
    width: 280px;
}
.savebutton {
    display: flex;
    align-items: center;
    justify-self: flex-end;
    padding: 0 24px;
    padding-block: 5px;
    color: black;
    background-color: white;
    text-decoration: none;
    font-size: 12px;
    font-weight: 700;
    letter-spacing: 1.76px;
    line-height: 18px;
    border: 2px solid transparent;
    border-radius: 500px;
    transform: scale(1.00);
}
.savebutton:hover{
    transform: scale(1.06);
}
.modalPara {
    margin-left: 30px;
    font-size: 0.6875rem;
    line-height: 1rem;
    text-transform: none;
    letter-spacing: normal;
    font-weight: 700;
}