.sidebarcontainer {
    // display: grid;
    width: 205px;
    height: 865px;
    background: black;
    color: white;
    font-size: 14px;
    margin-left: -8px;
    margin-top: -79px;
    padding-top: 10px;
    padding-left: 15px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
}
.sbllinkcontainer {
    padding-block: 10px;
}
.sidebarLinks {
    font-weight: 700;
    letter-spacing: normal;
    line-height: 16px;
    text-transform: none;
}
.sidebarcontainer .icon{
    padding: 0px;
    // background: transparent;
}