.sidebarcontainer {
    width: 205px;
    top: 70px;
    bottom: 0;
    position: absolute;
    background: black;
    color: white;
    font-size: 14px;
    margin-top: -79px;
    padding-top: 10px;
    padding-left: 25px;
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    z-index: 46;
}
.sidebarnavs{
    color: #afafaf;
    font-weight: 700;
    text-decoration: none;
}
.sidebarnavs:hover{
    color: white;
    font-weight: 700;
    text-decoration: none;
}

.houseicon{
    flex-shrink: 0;
    height: 24px;
    width: 24px;
    margin-right: 12px;
}
.sidebarcontainer .icon{
    padding: 0px;
    margin-left: -5px;
    margin-top: 15px;
    // background: transparent;
}
.createplicon{
    margin-right: 15px;
    margin-top: 30px;
    display:inline-block;
    width:20px;
    height:20px;

    background:
    linear-gradient(rgb(0, 0, 0) 0 0),
    linear-gradient(rgb(0, 0, 0) 0 0),
    rgb(202, 202, 202);
    background-position:center;
    background-size: 60% 2px,2px 60%; /*thickness = 2px, length = 50% (25px)*/
    background-repeat:no-repeat;
}
.sidebarplaylists {
    display: flex;
    color: #afafaf;
    font-weight: 500;
    letter-spacing: normal;
    line-height: 16px;
    text-decoration: none;
    margin-bottom: 10px;
}
.sidebarplaylists:hover {
    color: white;
}

.dividersidebarpl {
    border-top: 1px solid #1b1b1b;
    width: 170px;
    margin-top: 15px;
    margin-bottom: 15px;
    // margin-left: 15px;
    // padding-right: 5px;
}