body{
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    line-height: 26px;
}
.icon{
    background-image: image_url('ctuneicon.jpg');
    height: 27px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-block: 45px;
}
.signupform {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
}
#formlabel{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input {
    padding: 10px;
    padding-block: 15px;
    border: 1px solid gray;
    border-radius: 3px;
    margin-bottom: 10px;
}
.input:focus{
    outline: none;
}
#formheader {
    text-align: center;
    letter-spacing: -0.04em;
}
#formtitle {
    font-size: 18px;
    font-weight: 700px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
.signupbutton { 
    background-color: rgb(29, 185, 84);
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 12px;
    transform: scale(1.00);
    border: 1px solid rgb(29, 185, 84);
    border-radius: 30px;
    cursor: pointer;
}
.signupbutton:focus{
    outline: none;
}
.signupbutton:hover{
    background-color: rgb(30, 215, 96);
    color: white;
    font-size: 18px;
    font-weight: 700;
    transform: scale(1.04);
    border: 1px solid rgb(30, 215, 96);
    border-radius: 30px;
}
.terms {
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    a {
        color: rgb(30, 215, 96);
    }
}
#terms {
    padding-bottom: 5px;
}
