body{
    font-family: spotify-circular, Helvetica, Arial, sans-serif;
    line-height: 26px;
    background-color: white;
}
.icon{
    background-image: image_url('ctuneicon.jpg');
    height: 27px;
    width: 90px;
    margin-left: auto;
    margin-right: auto;
    margin-block: 45px;
}
.signupform {
    display: flex;
    max-width: 450px;
    flex-direction: column;
    margin: auto;
    font-size: 14px;
    font-weight: 700;
}
#formlabel{
    display: flex;
    flex-direction: column;
    padding-top: 5px;
    padding-bottom: 5px;
}
.input {
    padding: 10px;
    padding-block: 15px;
    border: 1px solid #d9dadc;
    
    margin-bottom: 10px;
}
.input:focus{
    outline: none;
}
#formheader {
    text-align: center;
    letter-spacing: -0.04em;
}
#formtitle {
    font-size: 18px;
    font-weight: 700px;
    line-height: 26px;
    letter-spacing: 0px;
    text-align: center;
}
.signupbtn{
    position: relative;
}
.signupbutton { 
    position: absolute;
    width: 450px;
    background-color: rgb(29, 185, 84);
    color: white;
    font-size: 17px;
    font-weight: 700;
    padding: 12px;
    margin-top: 20px;
    transform: scale(1.00);
    border: 1px solid rgb(29, 185, 84);
    border-radius: 30px;
    cursor: pointer;  
}
.signupbutton:focus{
    outline: none;
}
.signupbutton:hover{
    background-color: rgb(30, 215, 96);
    color: white;
    font-size: 18px;
    font-weight: 700;
    transform: scale(1.04);
    border: 1px solid rgb(30, 215, 96);
    border-radius: 30px;
}
.terms {
    font-size: 12px;
    text-align: center;
    font-weight: 300;
    margin-bottom: 0;
    margin-top: 0;
    a {
        color: rgb(30, 215, 96);
    }
}
a.terms {
    color: rgb(30, 215, 96);
}
#terms {
    padding-bottom: 5px;
}
#login123 {
    display: flex;
    flex-direction: column;
    padding-top: 15px;
    margin-top: 40px;
    .terms {
        font-size: 14px;
    }
}
#bottomsignupsplash{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background-image: linear-gradient(
        90deg
        ,#af2896,#509bf5);
    width: 100%;
    left: 0;
    z-index: 46;
    
    .righttext{
        margin-left: 24px;
        p {
            font-size: 12px;
            font-weight: 400;
            line-height: 16px;
            letter-spacing: .1em;
            color: white;
        }
        :last-child{
            font-size: 14px;
        }
    }
}
.splashsignupbottom{
    margin: 8px 0 12px;
    margin-right: 30px;
    margin-top: 15px;
    height: 20px;
    white-space: nowrap;
    font-size: 14px;
    color: #2e77d0;
    background-color: white;
    text-decoration: none;
    padding: 8px 48px;
    line-height: 18px;
    font-weight: 700;
    letter-spacing: 1.76px;
    text-transform: uppercase;
    border: 2px solid transparent;
    border-radius: 500px;
    display: inline-block;
    cursor: pointer;
    text-align: center;
    transform: scale(1.00);
}
.splashsignupbottom:hover{
    transform: scale(1.06);
}