body{
    overflow-x: hidden;
}
.test{
    // background-color: #121212;
    width: 100%;
    height: 100%;
}
.splashbuttons{
    background-color: #282828;
    margin-top: -8px;
    margin-inline: -10px;
    display: flex;
    justify-content: flex-end;
    align-items: baseline;
    height: 50px;
    padding-top: 10px;
}
.splashlogin{
    font-weight: 700;
    border-radius: 30px;
    text-align: center;
    font-size: 14px;
    color: black;
    background-color: white;
    text-decoration: none;
    padding: 5px;
    width: 110px;
    margin-right: 20px;
}
.splashsignup{
    font-weight: 700;
    font-size: 14px;
    color: white;
    text-decoration: none;
    margin-right: 20px;
}
.splashlogout{
    background-color: #b3b3b3;
}
.stevendaddy {
    display: flex;
    position: relative;
    justify-content: flex-end;
    flex-direction: row;
}
.profilebtn{
    background-color: black;
    color: white;
    font-weight: 700;
    padding: 10px;
    border: 1px solid black;
    border-radius: 30px;
    width: 125px;
    margin-right: 20px;
}
.profilebtn:hover{
    background-color: gray;
    
}
.profilebtn:focus{
    outline: none;
}
.dropdownmenu{
    display: none;
    list-style-type: none;
    flex-direction: column;
    position: absolute;
    margin-top: 40px;
    background-color: #282828;
    border-radius: 4px;
    border: 1px solid rgba(0,0,0,.1);
    box-shadow: 0 16px 24px rgb(0, 0, 0), 
        0 6px 8px rgb(0, 0, 0);
    padding-top: 5px;
    padding-left: 5px;
    padding-right: 5px;
    padding-bottom: 5px;
    width: 100px;
    margin-right: 30px;

}
.show{
    display: flex;
}
.profile{
    color: gray;
    text-decoration: none;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-right: 45px;
    text-align: left;
    padding-block: 5px;
}
.profile:hover{
    color: white;
    background-color: gray;
}
.splashlogout{
    background-color: #282828;
    border: 1px solid #282828;
    color: gray;
    font-size: 14px;
    font-weight: bold;
    padding-left: 5px;
    padding-block: 8px;
    border-top: 1px solid #535353;
    width: 100px;
    text-align: left;
    cursor: pointer;
}
.splashlogout:hover{
    color: white;
    background-color: gray;
}
.splashlogout:focus{
    outline: none;
}